/* body {
    background-color: lightgreen;
}
h1 {
    text-align: center;
}
#widget {
    border-radius: 50%;
    position: relative;
    margin-left: 50%;
    color: darkgoldenrod;
    background-color: black; */

/* } */
/* #div1 {
    margin: auto;
    text-align: center;
    border: 3px black dotted;
    font-size: 30px;
    background-color: cadetblue;
    height: 300px;
    width: 300px;
    position: relative;
}

#div3 {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border: 3px black dotted;
    font-size: 30px;
    background-color: grey;
    height: 300px;
    width: 300px;
    position: relative;
} */